<a href="logout">Logout</a><br>

<%= current_user.name %> <br>
<%= current_user.email %><br>
<br>
<% @tweets.each do |tweet| %>
	<li>
		<%= tweet.content %>, <%= tweet.user.email %>, <%= tweet.created_at.to_formatted_s(:long) %>
		<% if tweet.likes.find_by_user_id(current_user.id) %>
			<%= link_to "DisLike", url_for(controller:'home' ,action:'like', tweet_id: tweet.id) %>
		<% else %>
			<%= link_to "Like", url_for(controller:'home' , action:'like', tweet_id: tweet.id) %>
		<% end %>
	</li>
<% end %>

<%= form_tag '/tweet' do %>
	<%= text_area_tag 'content' %>
	<%= submit_tag 'Tweet' %>
<% end %>